.container {
  width: 80%;
  margin-left: 10%;
}
@media (orientation: landscape) {
  .container {
    width: 50%;
    margin-left: 25%;
  }
}

h1 {
  font-size: 24px;
}

.generateddate {
  color: grey;
  font-family: mono;
}

.sitelink {
  color: black;
  font-family: mono;
}

.sitelink:hover {
  color: blue;
  text-decoration: underline;
}

.navlink {
  border: 2px solid black;
  padding-inline: 5px;
  margin: 2.5px;
  text-decoration: none;
  color: blue;
}
