@font-face {
  font-family: "atkinsonmono";
  src: url("/static/fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-Regular.ttf");
}

@font-face {
  font-family: "atkinsonmono";
  src: url("/static/fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "atkinsonmono";
  src: url("/static/fonts/AtkinsonHyperlegibleMono/AtkinsonHyperlegibleMono-RegularItalic.ttf");
  font-style: italic;
}


body {
  background: black;
  color: white;
  font-family: atkinsonmono, mono;
}

.container {
  width: 80%;
  margin-left: 10%;
}
@media (orientation: landscape) {
  .container {
    width: 50%;
    margin-left: 25%;
  }
}

h1 {
  font-size: 24px;
  color: orange;
}

.generateddate {
  color: grey;
}

.sitelink {
  color: orange;
}

.sitelink:hover {
  color: blue;
  text-decoration: underline;
}

.navlink {
  border: 2px solid white;
  padding-inline: 5px;
  margin: 2.5px;
  text-decoration: none;
}

.header {
  width: 100%;
  font-size: 24px;
}

.userbar {
}

.ethos {
}

@media (orientation: landscape) {
  .userbar {
    width: 15%;
    float: left;
  }
  .ethos {
    width: 80%;
    float: right;
    border-left: 2px solid white;
    padding-left: 1em;
  }
}

a {
  color: orange;
}

.footer {
  width: 100%;
  float: left;
}

.name {
}

.email {
  font-size: 10px;
}
@media (orientation: landscape) {
  .email {
    font-size: 15px;
  }
}
